[submodule "src-webviews"]
	path = src-webviews
	url = https://github.com/altv-boilerplate-jsv2-nextjs-prisma/webview.git
[submodule "prisma"]
	path = prisma
	url = https://github.com/altv-boilerplate-jsv2-nextjs-prisma/prisma.git
